#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

body{
    background-color: #FAFAFA;
}

nav {
    height: 65px;
    border-bottom: 1px solid black;
    background-color: white;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none !important;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cards-container .card {
    border-radius: 5px;
    width: 152px;
    height: 152px;
    background-color: ghostwhite;
    margin: 10px 10px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cards-container .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards-container .flag {
    width: 100%;
    height: 70%;
}

.cards-container .card-info {
    position: relative;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards-container .card-info .country-name{
    text-align: center;
}

.cards-container .card-info .region {
    position: absolute;
    top: 0px;
    font-size: 10px;
}


